<% include partials/header %>

<div class="container">

	<div class="row">
	<h1 style="text-align:center;">Edit Comment</h1>

		<div style="width:30%; margin:30 auto;">

		<form action="/campground/<%=campground_id%>/comment/<%=comment._id%>?_method=PUT" method="POST">

			<div class="form-group">

				<input  class="form-control" type="text" name="name" value="<%=comment.text%>">

			</div>

			
		    <input class="btn btn-warning btn-lg btn-block" type="submit">
		    
		</form>

		
	
	

	<a href="/campground">Go back</a>
</div>
</div>
</div>

<% include partials/footer %>